{% extends "defaultLayout.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block abracadabra %}
<div class="form-signing">
  <h1>{% trans "Sign In" %}</h1>  

    {% load widget_tweaks %}
    <form class="login mb-3" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %} 
        <div class="form-floating mb-3">
              {% render_field form.login class="form-control"%}
              {{ form.login.label_tag }} 
        </div>
        <div class="form-floating mb-3">
              {% render_field form.password class="form-control"%}
              {{ form.password.label_tag }} 
        </div>
        {{ form.non_field_errors }}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="btn btn-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        
        <button class="btn btn-primary btn-lg w-100" type="submit">{% trans "Sign In" %}</button>  
    </form> 

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
     <p class="w-100 text-center">— Или войдите через —</p>
      <div class="socialaccount_ballot">

        <div class="socialaccount_providers">
          {% comment %} {% include "provider_list.html" with process="login" %} {% endcomment %}
          {% load socialaccount %}
            {% get_providers as socialaccount_providers %}

            {% for provider in socialaccount_providers %}
                {% if provider.id == "openid" %}
                    {% for brand in provider.get_brands %}
                    <p>
                      <a title="{{brand.name}}" 
                        class="btn btn-outline-dark ico-container {{provider.id}} {{brand.id}}" 
                        href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                        >{{brand.name}}</a>
                    </p>
                    {% endfor %}
                {% endif %}
                <p>
                  <a title="{{provider.name}}" class="btn btn-outline-dark ico-container w-100 {{provider.id}}" 
                    href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
                </p>
            {% endfor %}
        </div>

   
      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
    
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}
<a class="btn btn-link text-center" href="{{ signup_url }}">Зарегистрироваться</a><br>
</div>
{% endblock %}