{% extends "defaultLayout.html" %}
{% load static %}

{% block title %}
Войти в систему
{% endblock title %}

{% block abracadabra %}

<div class="form-signing">
    <h2> Войти</h2>
     <p><i> <small class="text-muted"> {{current_datetime}}</small></i></p>

    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
     <p>
         {% if is_not_author %}
            <a href="{% url 'upgrade' %}" class="btn btn-outline-dark w-100 "> Стать автором</a>
        {% endif %}
     </p>
    {% endif %}


      {% if 'update' in request.GET.next %}
        <p> Если вы хотите <b>отредактировать новость/статью</b>, вам необходимо войти в систему под аккаунтом автора</p>
        {% elif 'create' in request.GET.next %}
        <p> Если вы хотите<b> добавить новость/статью</b>, вам необходимо войти в систему под аккаунтом автора</p>
        {% elif 'delete' in request.GET.next %}
        <p>Если вы хотите<b> удалить новость/статью</b>, вам необходимо войти в систему под аккаунтом автора</p>
   {% endif %}

   {% load custom_filters %}
   <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {% if error_message %}
            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
        {% endif %}
            {% comment %} {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }} {% endcomment %}
        {% for field in form.visible_fields %}            
            <div class="form-floating">
                {{ field | add_css:'form-control' }}
                {{ field.label_tag }}
            </div> 
            <p>{{ field.errors }}</p>        
        {% endfor %}

        <input type="submit" value="Войти" class="w-100 btn btn-lg btn-primary">
    </form>
    <p class="mt-5 d-grid">
        {% comment %} <a href="../../oauth/login/" class="btn btn-outline-dark ico-container"> {% endcomment %}
        <a href="{% url 'account_login' %}" class="btn btn-outline-dark ico-container">
             <svg class="ico ico-google" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                    <use xlink:href="{% static 'img/bootstrap-icons.svg' %} #google"></use>
                </svg>Зайти с учетной записью Google</a>
        </a>
    </p>
    <p class="text-center"><a href="/accounts/signup" class="btn-link"> Регистрация </a></p>
</div>
{% endblock %}