{% extends 'defaultLayout.html' %} 
 
{% block title %}
    {{ category.name }}
{% endblock title %}
 
{% block abracadabra %}  
   <h1>
    {{ category.name }} <small class="font-italic text-muted"> Подписчиков {{ subscribers.count }} </small>
   </h1>
   {% if is_subscribed %}
        <div>
            <em>
                Отписаться от категории
                <strong> {{ category.name }} ? </strong>
            </em>
                <a href = "{% url 'news:category_unsubscribe' category.id %}" class="btn btn-outline-primary" > Отписаться!</a>
                {% comment %} <a href = "{% url 'category_unsubscribe' category.name %}" > Отписаться!</a> {% endcomment %}
        </div>
        {% else %}        
        <div>
            <em>
                Подписаться на категорию
                <strong> {{ category.name }} ? </strong>
            </em>
                <a href = "{% url 'news:category_subscribe' category.id %}" class="btn btn-primary" > Подписаться !</a>
                {% comment %} <a href = "{% url 'category_subscribe' category.name %}" > Подписаться !</a> {% endcomment %}
        </div>
    {% endif %}
    {% load custom_filters %}
    {%  for post in category.post_set.all|sort_by:'-dateCreation' %}
       <div class="row g-4 py-5 row-cols-1">
                <div class="col d-flex align-items-start">           
                    <div>
                        <h3 class="fs-2">{{ post.title }}</h3>
                        <p>{{ post.dateCreation | date:'d.m.y' }} by {{ post.author }}</p>
                        <p>{{ post.text|slice:"100"|safe }}</p>
                        <a href="{% url 'news:post' post.id %}" class="btn btn-primary btn-sm"> 
                            Читать
                        </a>
                    </div>
                </div>  
            </div>

    {% endfor %}

{% endblock abracadabra %}