.post-title {
    display: inline;
    margin-bottom: 0;
}

.nav-link .ico {
    margin-right: 0;
}

.ico {
    margin-right: 10px;
}

.required:after {
    content: '*';
    color: red;
}

.form-signing,
.form-signing-up {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/* .btn.ico-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
} */

.ico-google {
    width: 1em;
    height: 1em;
}

.errorlist {
    list-style: none;
    color: red;
    padding: 0;
}

.nav-item span {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
}