<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Появился новый пост в вашей категории</title>
</head>
<body>
    <h1>Появился новый пост в вашей категории</h1>
    <p> В категории: {{category}} разместили публикацию {{post.title}} </p>
    <h1>
        <a href = "{% url 'post' post.id %}">
            {{post.name}}
        </a> 
    </h1>
    <p>
        <a href = "http://localhost:8000{% url 'post' post.id %}">Перейти по ссылке</a>
    </p>
    <p>
        {{post.text|truncatechars:100}} 
    </p>


</body>
</html>